<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                          https://maven.apache.org/xsd/settings-1.0.0.xsd">
        <mirrors>
		<!-- Fixes new Jaspersoft repo changes for https://github.com/alexnederlof/Jasper-report-maven-plugin -->
		<!-- This will override default repositories defined in plugin's POM -->
		<mirror>
			<id>jasperreports-mirror</id>
			<url>https://jaspersoft.jfrog.io/artifactory/jr-ce-releases/</url>
			<mirrorOf>jasperreports</mirrorOf>
		</mirror>
		<mirror>
			<id>jaspersoft-third-party-mirror</id>
			<url>https://jaspersoft.jfrog.io/artifactory/third-party-ce-artifacts/</url>
			<mirrorOf>jaspersoft-third-party</mirrorOf>
		</mirror>
		<!-- Fixes Maven changes for preventing MITM attacks: http://maven.apache.org/docs/3.8.1/release-notes.html#cve-2021-26291 -->
		<mirror>
			<id>jahia-repository2</id>
			<url>https://maven.jahia.org/maven2/</url>
			<mirrorOf>jahia-repository</mirrorOf>
		</mirror>
		<mirror>
			<id>52north-releases2</id>
			<url>https://52north.org/maven/repo/releases/</url>
			<mirrorOf>52north-releases</mirrorOf>
		</mirror>
	</mirrors>
</settings>
