<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                          https://maven.apache.org/xsd/settings-1.0.0.xsd">
        <servers>
                <server>
                        <id>sonicle-maven-mirror</id>
                        <username>nethesis</username>
                        <password>nethesis</password>
                </server>
        </servers>
        <mirrors>
                <mirror>
                        <id>sonicle-maven-mirror</id>
                        <url>https://mvn.sonicle.com/repository/maven-mirror/</url>
                        <mirrorOf>central,52north-releases,jahia-repository</mirrorOf>
                </mirror>
        </mirrors>
</settings>
